<form>
	<input name="id" type="hidden" value="{{id}}" />
	
	<label for="title">Título</label>
	<input name="title" autofocus />
	
	<label for="description">Descrição</label>
	<input name="description" />
	
	<label for="assignee">Atribuido para</label>
	<input name="assignee" />
	
	<hr/>
	
	<input id="submit_button" type="submit" class="btn btn-success" value="Salvar" ></input>
	<input id="cancel_button" type="button" class="btn btn-warning" value="Cancelar"></input>
</form>