<form id="new-card">
	<input name="parent_id" type="hidden" value="{{id}}" />
	
	<label for="title">Título</label>
	<input type="text" name="title" autofocus />
	<span id="title-error-message" class="error-message"></span>
	
	<label for="description">Descrição</label>
	<input type="text" name="description" />
	<span id="description-error-message" class="error-message"></span>
	
	<label for="assignee">Atribuido para</label>
	<input type="text" name="assignee" />
	<span id="assignee-error-message" class="error-message"></span>
	
	<hr/>
	
	<input id="submit_button" type="submit" class="btn btn-success" value="Salvar" ></input>
	<input id="cancel_button" type="button" class="btn btn-warning" value="Cancelar"></input>
</form>