<form>
	<input name="id" type="hidden" value="{{id}}" />
	<input name="title" autofocus required />
	<input name="description" required />
	<input name="assignee" required />
	<input type="submit" value="Salvar" />
</form>