body {
  background-color: lightgrey;  
}

nav.navbar {
  padding: 10px 10px 0px 10px;
  margin-bottom: 0px;
  
  a.brand {
    font-weight: bold;
  }
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 0.85em;
  line-height: 1.5em;  
  
  .logo {
    margin-right: 10px;  
  }
  
  a {
  color: lightblue;
  }
    
  a:hover {
    color: lightgrey;
  }  
}

section#contents {
  margin: 0 20px 10px;
  
  div.start-collapsed {
    display: none;
  }
}

label {
  margin-top: 10px;
}

article.project {
  background-color: #dee;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 20px 0px;
  
  h3 {
    margin-top: 0px;
  }
  
  a.btn {
    margin-right: 5px;
  }

  article.story {
    padding: 0 40px 0 40px;
    border-top: 1px solid #666;
    margin-top: 20px;
    
    section.issues {
      margin-top: 20px;
      
      div.lane {
        border: 1px solid #ccc;
        border-radius: 4px;
        
        h4.lane_title {
          text-align: center;
        }
        
        article.issue {
          background-color: lightblue;
          padding: 10px;
          margin: 10px;
          border-radius: 4px;
          
          h5 {
            margin-top: 0px;
          }        
        }
      }  
    }
  }

}

section#alert {
  margin: 20px;
  div.alert {
    display: none;
  }
}
