@(stylesheets: Html, scripts: Html)

<!DOCTYPE html>

<html>
	<head>
		<title>Tasker</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		@stylesheets
		@scripts
	</head>

	<body>
		<nav class="navbar">
			<div class="navbar-inner">
				<a class="brand">Tasker</a>
				<ul id="menu" class="nav">
					<li id="menu_view_all"><a href="/" data-internal="true"><i class="icon-th-list"></i> Ver cards</a></li>
					<li id="menu_new_card"><a href="/card/new-project" data-internal="true"><i class="icon-plus"></i> Novo projeto</a></li>
				</ul>
			</div>
		</nav>
		<section id="alert"></section>
		<section id="contents"></section>
		<footer>
			<a class="logo pull-left" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR"><img alt="Licença Creative Commons" style="border-width:0" src="/assets/images/88x31.png" /></a>
			<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tasker</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://tgarcia.com.br" property="cc:attributionName" rel="cc:attributionURL">Tiago Romero Garcia</a> é licenciado sob uma <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">Licença Creative Commons Atribuição-CompartilhaIgual 3.0 Não Adaptada</a>.
			<br />
			Baseado no trabalho em <a xmlns:dct="http://purl.org/dc/terms/" href="http://github.com/tiagorg/tasker" rel="dct:source">http://github.com/tiagorg/tasker</a>.
			<br />
			Permissões além do escopo dessa licença podem estar disponível em <a xmlns:cc="http://creativecommons.org/ns#" href="http://tgarcia.com.br/contato/" rel="cc:morePermissions">http://tgarcia.com.br/contato/</a>.
		</footer>
	</body>
</html>